@import '../scss/_custom-styles';
@import '../scss/_custom-variables';
@import '../scss/bulma-theme.scss';


.rti--container {
    --rti-tag: #209CEE !important;
  }

.navidown {
  z-index: 100 !important;
}